$burger-color: #000;
$burger-color-active: #000;
$nav-bg-top: #fff;
$nav-bg-bottom: #fff;
$nav-text-color: #fff;

$h2-font-size: 1.2em;
$h3-font-size: 1em;

$stroke-width: 3px;
$stroke-spacing: 7px;

$burger-width: 24px;
$burger-padding: 1rem 1.5rem;

$transition-time: .3s;

$toggle-button-margin: 3px;